body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #333;
}

#map {
    color: black;
    height: 550px
}

#sub-map {
    height: 220px;
}

#fire-info {
    overflow-x: auto;
    background-color: white;
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    color: black;
    height: 550px;
}

circle {
    fill: firebrick;
    stroke: black;
    stroke-width: 1;
    opacity: 0.5;
}

circle:hover {
    cursor: pointer;
}

h1, h2 {
    margin-top: 10px;
    text-align: center;
}

.inner {
    position: absolute;
    background-color: black;
    height: 300px;
    width: 25%;
    z-index: 99999;
    right: 0;
    top: 0;
}

h2, h3, h4 {
    text-align: center;
}

.axis path,
.axis line {
    fill: none;
    padding: 5px;
    stroke: white;
    shape-rendering: crispEdges;
}

text {
    fill: white;
    stroke:white;
}