<div class="loader" ng-show="graphloading">Loading...</div>
<h2 ng-show="graphloaded">The Wildfires of the West</h2>
<div class="row" ng-show="graphloaded">
    <div class="col-sm-12 col-lg-12">
        <p class="center">Zoom and pan the map to move around in it. Hover over a fire to learn more about it.
           </p>
    </div>
    <div class="col-sm-12 col-lg-12 map-graph" id="map" fires="fires" map="map_data">
        <h3>Active Wildfires</h3>
        <p class="center">Date: <span id="map_month"></span></p>
        <p id="map_legend"></p>
    </div>
</div>
<div class="row" ng-show="graphloaded">
    <div class="col-offset-sm-1 col-sm-10 col--offset-sm-1">
        <p>If you have any questions or comments feel free to contact me via Twitter at @farrelldlfarrel, or email
            at farrelldlfarrell at gmail.com</p>
    </div>
</div>